<a href="https://colab.research.google.com/github/archananair17/Exam/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = "Archana Nair"
len(x)

12

In [ ]:
x = ["John", "Mary", "David", "Adam"]
print(x)
print(type(x))

['John', 'Mary', 'David', 'Adam']
<class 'list'>

In [ ]:
x = [9060, "Archana Nair", 19, 17/12/2003, "Ernakulam"]
print(x)
type(x)

[9060, 'Archana Nair', 19, 0.000707272424696289, 'Ernakulam']

list

In [ ]:
print(x[0])

9060

In [ ]:
print(x[-1])

Ernakulam

In [ ]:
x = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
print(x[0:1])

[5]

In [ ]:
print(x[0:2])

[5, 10]

In [ ]:
x[0:5]

[5, 10, 15, 20, 25]

In [ ]:
x[7:]

[40, 45, 50]

In [ ]:
x = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
x[0]=55

In [ ]:
print(x)

[55, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
x = [9060, "Archana Nair", 19, 17/12/2003, "Ernakulam"]

In [ ]:
x[-1]="Rajagiri"

In [ ]:
print(x)

[9060, 'Archana Nair', 19, 0.000707272424696289, 'Rajagiri']

In [ ]:
x.append(69)
print(x)

[9060, 'Archana Nair', 19, 0.000707272424696289, 'Rajagiri', 69]

In [ ]:
x = []
for y in range(4):
  x.append(input("Enter your name"))
  print(x)

Enter your nameArchana Nair
['Archana Nair']
Enter your nameArchana Nair
['Archana Nair', 'Archana Nair']
Enter your nameArchana Nair
['Archana Nair', 'Archana Nair', 'Archana Nair']
Enter your nameArchana Nair
['Archana Nair', 'Archana Nair', 'Archana Nair', 'Archana Nair']

In [ ]:
x = [9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
y=x.copy()
print(y)

[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]

In [ ]:
x = ["John", "Mary", "David", "Adam"]
y = ['A', 'B', 'C']
x.extend(y)
x

['John', 'Mary', 'David', 'Adam', 'A', 'B', 'C']

In [ ]:
x = [9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 9]
x.count(9)

2

In [ ]:
x = ["Archana", "Maureen", "Vishnu", "Enitta"]
x[1:3] = ["Denver", "Jackson"]
x

['Archana', 'Denver', 'Jackson', 'Enitta']

In [ ]:
x = ["Archana", "Maureen", "Vishnu", "Enitta"]
x.insert(2, "Dokyeom")
x

['Archana', 'Maureen', 'Dokyeom', 'Vishnu', 'Enitta']

In [ ]:
x = ["Archana", "Maureen", "Vishnu", "Enitta"]
x.remove("Vishnu")
x

['Archana', 'Maureen', 'Enitta']

In [ ]:
x = ["Archana", "Maureen", "Vishnu", "Enitta"]
del x[0]
del x[-1]
x

['Maureen', 'Vishnu']

In [ ]:
x = ["Archana", "Maureen", "Vishnu", "Enitta"]
del x[0:2]
x

['Vishnu', 'Enitta']