<a href="https://colab.research.google.com/github/archananair17/Exam/blob/main/Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=0
while x<10:
  print(x)
  x=x+1

0
1
2
3
4
5
6
7
8
9

In [4]:
x=10
while x>1:
  x=x-1
  print(x)

9
8
7
6
5
4
3
2
1

In [7]:
x=0
y=0
while x<=10:
  y=y+x
  x=x+1
print(y)

55

In [11]:
n=int(input("Enter a number: "))
x=1
while n>=1:
  x=x*n
  n=n-1
print(x)

Enter a number: 5
120

In [13]:
x=0
while x<10:
  x=x+1
  if x==5:
    break;
  print(x)

1
2
3
4

In [14]:
x=0
while x<10:
  x=x+1
  if x==7:
    break;
  print(x)

1
2
3
4
5
6

In [16]:
x=0
while x<10:
  x=x+1
  if x==7:
    continue;
  print(x)

1
2
3
4
5
6
8
9
10

In [17]:
x=0
for x in range(100):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [20]:
x=0
for x in range(50):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [22]:
a=0
for x in range(101):
  a=a+x
print(a)

5050

In [23]:
n=int(input("Enter a number: "))
x=1
for i in range (1,n+1):
  x=x*i
print(x)

Enter a number: 5
120

In [24]:
for x in range(100):
  if x==5:
    break;
  print(x)

0
1
2
3
4

In [29]:
for x in range(100):
  if x==5:
    continue;
  print(x)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [30]:
x="Archana Nair"
for a in x:
  print(a)

A
r
c
h
a
n
a

N
a
i
r

In [38]:
x="Archana Nair"
for a in x:
  if a==" ":
    break;
  print(a)

A
r
c
h
a
n
a

In [37]:
x="Archana Nair"
for a in x:
  if a=="i":
    continue;
  print(a)

A
r
c
h
a
n
a

N
a
r