<a href="https://colab.research.google.com/github/archananair17/Exam/blob/main/Revision2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x= int(input("Enter your marks"))

Enter your marks50

In [4]:
if x>50 :
  print("You are pass")
if x==50 :
  print("You are just pass")
if x<50 :
  print("You are failed")

You are just pass

In [7]:
x= int(input("Enter your salary"))
if x>250000 :
  print("You are taxable")
else :
  print("You are not taxable")

Enter your salary1
You are not taxable

In [8]:
x= int(input("Enter your salary"))
if x>250000 :
  print("You are taxable")
  print("tax:",x*10/100)

Enter your salary250001
You are taxable
tax: 25000.1

In [10]:
x= int(input("Enter your salary"))
if 250000<x and x<500000 :
  print("You are taxable")
  sal=x-250000
  print("tax: ",sal*10/100)
elif x>=500000 :
  print("You are taxable")
  sal=x-250000
  print("tax: ",sal*20/100)
else :
  print("You are not taxable")

Enter your salary600000
You are taxable
tax:  70000.0

In [15]:
sal=int(input("Enter your salary: "))
if sal>250000 and sal<500000 :
  print("You are taxable")
  x=sal-250000
  print("tax: ",x*5/100)
elif sal>500000 and sal<750000 :
  print("You are taxable")
  x=sal-250000
  print("tax: ",(x*10/100)+(250000*5/100))
elif sal>750000 and sal<1000000 :
  print("You are taxable")
  x=sal-750000
  print("tax: ",(x*15/100)+(250000*5/100)+(250000*10/100))
elif sal>1000000 and sal<1250000 :
  print("You are taxable")
  x=sal-1000000
  print("tax: ",(x*20/100)+(250000*5/100)+(250000*10/100)+(250000*15/100))
elif sal>1250000 and sal<1500000 :
  print("You are taxable")
  x=sal-1250000
  print("tax: ",(x*25/100)+(250000*5/100)+(250000*10/100)+(250000*15/100)+(250000*20/100))
elif sal>1500000 :
  print("You are taxable")
  x=sal-1500000
  print("tax: ",(x*30/100)+(250000*5/100)+(250000*10/100)+(250000*15/100)+(250000*20/100)+(250000*25/100))
else :
  print("You are not taxable")

Enter your salary: 1400000
You are taxable
tax:  162500.0