<a href="https://colab.research.google.com/github/archananair17/Exam/blob/main/revision7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
def ARCHANA():
  print("India is my country")

In [4]:
ARCHANA()

India is my country

In [8]:
def archana(x):
  print("Your roll number is ", x)

In [9]:
x=int(input("Enter your roll number"))
archana(x)

Enter your roll number9060
Your roll number is  9060

In [17]:
def details(a,b,c,d):
  print("Your name: ", a)
  print("Your roll no: ", b)
  print("Your mail id: ", c)
  print("Your place: ", d)

In [18]:
a=input("Enter your name ")
b=int(input("Enter your roll number "))
c=input("Enter your email id ")
d=input("Enter your place ")
details(a,b,c,d)

Enter your name Archana
Enter your roll number 9060
Enter your email id archananair9503@gmail.com
Enter your place Ernakulam
Your name:  Archana
Your roll no:  9060
Your mail id:  archananair9503@gmail.com
Your place:  Ernakulam

In [25]:
def first():
  print("Your first name is", x[0:7])
def last():
  print("Your last name is",x[8:12])

In [26]:
x=input("Enter your full name: ")
first()
last()

Enter your full name: Archana Nair
Your first name is Archana
Your last name is Nair

In [31]:
def first():
 name=x.split()
 for i in name:
   print(i)

In [33]:
x=input("Your full name ")
first()

Your full name Archana Nair
Archana
Nair

In [39]:
x=int(input("enter a number:"))

def swatch(a):
  b=a//10
  
  print(b)
swatch(x)

enter a number:56
5

In [40]:
def  num(x,y):
  x,y=y,x
  print("Swapped numbers are",x,y)

In [41]:
x=int(input("Enter first number"))
y=int(input("Enter second number"))
num(x,y)

Enter first number90
Enter second number12
Swapped numbers are 12 90

In [44]:
def reverse():
  print("Swapped number is: ",x[1]+x[0])

In [45]:
x=input("Enter a two digit number: ")
reverse()

Enter a two digit number: 56
Swapped number is:  65