<a href="https://colab.research.google.com/github/archananair17/Exam/blob/main/Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = "This is \"Python\" programming" #Inverted Comma
print(x)

This is "Python" programming

In [3]:
x = 'He\'s a doctor'             #apostrophe
print(x)

He's a doctor

In [4]:
x = "Hello\nWorld!"              #next line
print(x)

Hello
World!

In [5]:
x = "Hello\tWorld!"              #space
print(x)

Hello	World!

In [6]:
print("\"Archana\" Nair")

"Archana" Nair

In [7]:
print('He\'s an \"Aerospace Engineer\"')

He's an "Aerospace Engineer"

In [9]:
print("Archana \n  Nair")

Archana
  Nair

In [11]:
x = []
for i in range(0,4,1):
  a=input("Enter a Name ")
  b=int(input("Enter index "))
  x.insert(b,a)
x

Enter a Name John
Enter index 0
Enter a Name Mary
Enter index 1
Enter a Name David
Enter index 2
Enter a Name Adam
Enter index 3

['John', 'Mary', 'David', 'Adam']

In [12]:
def maureen():
  y=int(input("Enter Index "))
  n=input("Enter a name ")
  x.insert(y,n)

In [14]:
maureen()

Enter Index 2
Enter a name Archana

In [15]:
def archana():
  x=int(input("Enter a number"))
  y=int(input("Enter a number"))
  print(x+y)
  print(x-y)
  print(x/y)
  print(x*y)

In [16]:
archana()

Enter a number56
Enter a number89
145
-33
0.6292134831460674
4984

In [17]:
def archana(a,b):
  print(a+b)

In [19]:
x=int(input("Enter first value: "))
y=int(input("Enter second value: "))
archana(x,y)

Enter first value: 9
Enter second value: 6
15

In [20]:
def add(c,d):
  print(c+d)

In [27]:
s=int(input("Enter first value: "))
u=int(input("Enter second value: "))
add(s,u)

Enter first value: 5
Enter second value: 8
13

In [24]:
def subtract(c,d):
  print(c-d)

In [26]:
s=int(input("Enter first value: "))
u=int(input("Enter second value: "))
subtract(s,u)

Enter first value: 9
Enter second value: 4
5

In [28]:
def multiply(c,d):
  print(c*d)

In [29]:
s=int(input("Enter first value: "))
u=int(input("Enter second value: "))
multiply(s,u)

Enter first value: 3
Enter second value: 7
21

In [30]:
def division(c,d):
  print(c/d)

In [31]:
s=int(input("Enter first value: "))
u=int(input("Enter second value: "))
division(s,u)

Enter first value: 50
Enter second value: 10
5.0